<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi recetario</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png" type="image/png">
</head>
<body>
    <!-- header -->
    <header>
        <div>
            <h1>Mi recetario de cocina</h1>
            <p>Recetas para todos los dias</p>
        </div>
    </header>
    <!-- navbar -->
    <nav class="navbar">
        <a href="../../index.html">INCIO</a>
        <a href="recetasDulces.html">RECETAS DULCES</a>
        <a href="recetasSaladas.html">RECETAS SALADAS</a>
        <a href="#">Formulario de registro</a>
    </nav>
    <!-- formulario -->
    <form action="">
        <fieldset>
            <legend>Formulario de Registro</legend>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required>
            <label for="apellido">Apellido</label>
            <input type="text" name="apellido" id="apellido" required>
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label for="pass">Contraseña</label>
            <input type="password" name="pass" id="pass" required>
            <label for="fecha">Fecha de Nacimiento</label>
            <input type="date" name="fecha" id="fecha">
            <input type="submit" value="Registrarse">
            <input type="reset" value="Borrar">
        </fieldset>
    </form>

    <!-- footer -->
    <footer>
        <p>&copy; Brenda Hoffmann, Potrero Digital 2024</p>
    </footer>
</body>
</html>